server:
  port: 8209
  servlet:
    context-path: /ndw-exporter

sentry:
  dsn: ${SENTRY_DSN:}
  environment: ${SENTRY_ENVIRONMENT:}

application:
  aws:
    sns:
      form-updated-event:
        arn: ${FORM_UPDATED_TOPIC_ARN:}
        message-attribute: FORM_R
    sqs:
      action: ${ACTION_QUEUE_URL:}
      form:
        s3: ${NDW_S3_FORM_QUEUE_URL:}
        ltft: ${NDW_LTFT_FORM_QUEUE_URL:}
        formr: ${NDW_FORMR_FORM_QUEUE_URL:}
      notification: ${NOTIFICATION_QUEUE_URL:}
  ndw:
    endpoint: https://${AZURE_DATA_LAKE_NAME:local}.dfs.core.windows.net/tis-formr
    directory: ${AZURE_DATA_LAKE_DIRECTORY:dev}

logging:
  level:
    root: ${LOGGING_ROOT:INFO}
    uk:
      nhs:
        hee:
          tis:
            trainee:
              ndw:
                event: ${LOGGING_EVENT:DEBUG}
                service: ${LOGGING_SERVICE:DEBUG}

spring:
  cloud:
    aws:
      endpoint: ${AWS_ENDPOINT:}
    azure:
      credential:
        client-id: ${AZURE_CLIENT_ID:}
        client-secret: ${AZURE_CLIENT_SECRET:}
      profile:
        tenant-id: ${AZURE_TENANT_ID:}
